.cadastrar{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cadastrar h2{
    color: var(--branco);
}
.form-cadastrar{
    background-color: var(--cinza-claro);
    height: 300px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
}
.form-cadastrar input{
    outline: none;
    border: var(--verde-escuro) solid 2px;
    text-align: center;
    border-radius: 10px;
}
.form-cadastrar button{
    width: 80%;
    color: white;
    border: var(--verde-escuro) solid 2px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--cinza-escuro);
    transition: 0.2s;
}
.form-cadastrar button:hover{
    background-color: var(--verde-escuro);
    color: black;
    cursor: pointer;
}